pre.pre-container {
  margin: 0;
  border-radius: 5px;
  padding: 0.8rem;

  code {
    display: inline-block;
  }

  &.bg-dark {
    background-color: #343a40;

    code.code-example {
      color: #d63384;
      span.code-example-variable {
        color: #50a14f;
      }

      span.code-example-directive {
        color: #c5a5c5;
      }

      span.code-example-npm {
        color: #a3bb1f;
      }

      button.copy-link svg {
        fill: white;
      }
    }
  }

  &.bg-light {
    background-color: transparent !important;
    code.code-example {
      color: #d63384;
      span.code-example-variable {
        color: #50a14f;
      }

      span.code-example-directive {
        color: #0130ff;
      }

      span.code-example-npm {
        color: #a3bb1f;
      }

      button.copy-link svg {
        fill: black;
      }
    }
  }

  code.code-example-copy {
    .copy-link {
      visibility: hidden;
      svg {
        width: 14px;
      }
    }

    &:hover {
      .copy-link {
        visibility: visible;
      }
    }
  }
}

aside[role="note"] {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 3px solid #ffe564;
  padding: 1rem;
}

.component-title {
  .source-link {
    width: 0.95rem;
    display: inline-block;
    margin-left: 1rem;
    fill: #d94b17;
  }
}
