// Contents
//
// SidebarMenu
// SidebarMenu brand
// SidebarMenu nav

// Responsive SidebarMenu
// SidebarMenu position
// SidebarMenu themes

// SidebarMenu
//
// Provide a static SidebarMenu from which we expand to create full-width, fixed, and
// other navbar variations.

// Navbar

$sidebar-menu-nav-icon-transition: fill 0.15s ease-in-out,
  background-color 0.15s ease-in-out;

$sidebar-menu-toggler-icon-width: 1.5em !default;
$sidebar-menu-toggler-icon-height: 1.5em !default;
$sidebar-menu-toggler-padding-x: $navbar-toggler-padding-x !default;
$sidebar-menu-width-expanded: 300px !default;
$sidebar-menu-header-padding-x: 0.5rem !default;
$sidebar-menu-header-padding-y: 0.5rem !default;
$sidebar-menu-toggler-font-size: $navbar-toggler-font-size !default;
$sidebar-menu-brand-font-size: $navbar-brand-font-size !default;

// Toggle button size with padding
$sidebar-menu-width-collapsed: calc(
  #{$sidebar-menu-toggler-icon-width} * 1.25 + #{$sidebar-menu-toggler-padding-x} *
    2 + #{$sidebar-menu-header-padding-x} * 2 + #{$border-width} * 2
) !default;

$sidebar-menu-padding-y: $navbar-padding-y !default;
$sidebar-menu-padding-x: $navbar-padding-x !default;
$sidebar-menu-nav-link-padding-x: $navbar-nav-link-padding-x !default;

$sidebar-menu-nav-link-height: $nav-link-height !default;
$sidebar-menu-brand-height: $navbar-brand-height !default;
$sidebar-menu-brand-padding-y: $navbar-brand-padding-y !default;
$sidebar-menu-brand-margin-end: $navbar-brand-margin-end !default;
$sidebar-menu-toggler-padding-y: $navbar-toggler-padding-y !default;

$sidebar-menu-dark-color: $navbar-dark-color !default;
$sidebar-menu-dark-hover-color: $navbar-dark-hover-color !default;
$sidebar-menu-dark-active-color: $navbar-dark-active-color !default;
$sidebar-menu-dark-disabled-color: $navbar-dark-disabled-color !default;
$sidebar-menu-dark-toggler-icon-bg: $navbar-dark-toggler-icon-bg !default;
$sidebar-menu-dark-toggler-border-color: $navbar-dark-toggler-border-color !default;
$sidebar-menu-light-color: $navbar-light-color !default;
$sidebar-menu-light-hover-color: $navbar-light-hover-color !default;
$sidebar-menu-light-active-color: $navbar-light-active-color !default;
$sidebar-menu-light-disabled-color: $navbar-light-disabled-color !default;
$sidebar-menu-light-toggler-icon-bg: $navbar-light-toggler-icon-bg !default;
$sidebar-menu-light-toggler-border-color: $navbar-light-toggler-border-color !default;
$sidebar-menu-light-brand-color: $navbar-light-brand-color !default;
$sidebar-menu-light-brand-hover-color: $navbar-light-brand-hover-color !default;
$sidebar-menu-dark-brand-color: $navbar-dark-brand-color !default;
$sidebar-menu-dark-brand-hover-color: $navbar-dark-brand-hover-color !default;

.sidebar-menu-collapse.show {
  width: $sidebar-menu-width-expanded;
}

.sidebar-menu-collapse.collapse {
  display: block;
}

.sidebar-menu-collapse:not(.show) {
  width: $sidebar-menu-width-collapsed;

  .sidebar-menu-text,
  .sidebar-menu-brand {
    display: none;
  }

  .sidebar-menu-header {
    justify-content: flex-end;
  }

  .sidebar-menu-nav-title {
    display: none;
  }
}

.sidebar-menu-collapse.collapsing.width {
  transition: width 0.35s;
  height: auto;
}

.sidebar-menu {
  padding-top: 0;
  padding-bottom: 0;
  flex-direction: column;

  @extend .navbar;
}

.sidebar-menu-body {
  overflow-y: auto;
}

// Sidebar header
//
// Used for brand, project, or site names.

.sidebar-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $sidebar-menu-header-padding-y;
  padding-bottom: $sidebar-menu-header-padding-y;
  padding-left: $sidebar-menu-header-padding-x;
  padding-right: $sidebar-menu-header-padding-x;
}

.sidebar-menu-toggler {
  @extend .navbar-toggler;
  &-icon {
    width: $sidebar-menu-toggler-icon-width;
    height: $sidebar-menu-toggler-icon-height;

    @extend .navbar-toggler-icon;
  }
}

.sidebar-menu-brand {
  @extend .navbar-brand;
}

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.sidebar-menu-nav-link`).

.sidebar-menu-nav {
  padding: 0.5rem;

  @extend .navbar-nav;

  @extend .nav-pills;

  .sidebar-menu-nav-item {
    @extend .nav-item;
  }

  .sidebar-menu-nav-link {
    padding-left: 1.25rem;
    padding-right: 1rem;
    line-height: 1;
    @extend .nav-link;

    .sidebar-menu-nav-title {
      padding-left: 1.25rem;
    }
  }
}

.sidebar-menu-text {
  overflow: hidden;
  text-overflow: ellipsis;

  @extend .navbar-text;
}

.sidebar-menu-navbar-toggler {
  @extend .navbar-toggler;
}

.sidebar-menu-nav-icon {
  @include transition($sidebar-menu-nav-icon-transition);
}

// Responsive navbar

.sidebar-menu-collapse {
  @extend .navbar-collapse;
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.sidebar-menu-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

// scss-docs-start navbar-expand-loop
// Generate series of `.sidebar-menu-expand-*` responsive classes for configuring
// where your navbar collapses.
.sidebar-menu-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-down($next) {
        .sidebar-menu-collapse.show {
          width: $sidebar-menu-width-collapsed;
        }

        .sidebar-menu-header,
        .sidebar-menu-nav-title {
          display: none;
        }
      }
    }
  }
}
// scss-docs-end navbar-expand-loop

// scss-docs-start sidebar-menu-expand-loop
// Generate series of `.sidebar-menu-collapse-*` responsive classes for configuring
// where your sidebar-menu hides.
.sidebar-menu-hide {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-down($next) {
        display: none;
      }
    }
  }
}
// scss-docs-end sidebar-menu-loop

// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.sidebar-menu-light {
  .sidebar-menu-brand {
    color: $sidebar-menu-light-brand-color;

    &:hover,
    &:focus {
      color: $sidebar-menu-light-brand-hover-color;
    }
  }

  $sidebar-menu-nav-icon-light-fill: $sidebar-menu-light-color;
  $sidebar-menu-nav-icon-light-hover-fill: $sidebar-menu-light-hover-color;
  $sidebar-menu-nav-icon-light-disabled-fill: $sidebar-menu-light-disabled-color;
  $sidebar-menu-nav-icon-light-active-fill: $sidebar-menu-light-active-color;

  .sidebar-menu-nav {
    .sidebar-menu-nav-link {
      color: $sidebar-menu-light-color;
      fill: $sidebar-menu-nav-icon-light-fill;

      &:hover,
      &:focus {
        color: $sidebar-menu-light-hover-color;

        .sidebar-menu-nav-icon {
          fill: $sidebar-menu-nav-icon-light-hover-fill;
        }
      }

      &.disabled {
        color: $sidebar-menu-light-disabled-color;

        .sidebar-menu-nav-icon {
          fill: $sidebar-menu-nav-icon-light-disabled-fill;
        }
      }
    }

    .show > .sidebar-menu-nav-link,
    .sidebar-menu-nav-link.active {
      color: $sidebar-menu-light-active-color;

      .sidebar-menu-nav-icon {
        fill: $sidebar-menu-nav-icon-light-active-fill;
      }
    }
  }

  .sidebar-menu-toggler {
    color: $sidebar-menu-light-color;
    border-color: $sidebar-menu-light-toggler-border-color;
  }

  .sidebar-menu-toggler-icon {
    background-image: escape-svg($sidebar-menu-light-toggler-icon-bg);
  }

  .sidebar-menu-text {
    color: $sidebar-menu-light-color;

    a,
    a:hover,
    a:focus {
      color: $sidebar-menu-light-active-color;
    }
  }
}

// White links against a dark background

.sidebar-menu-dark {
  .sidebar-menu-brand {
    color: $sidebar-menu-dark-brand-color;

    &:hover,
    &:focus {
      color: $sidebar-menu-dark-brand-hover-color;
    }
  }

  $sidebar-menu-nav-icon-dark-fill: $sidebar-menu-dark-color;
  $sidebar-menu-nav-icon-dark-hover-fill: $sidebar-menu-dark-hover-color;
  $sidebar-menu-nav-icon-dark-disabled-fill: $sidebar-menu-dark-disabled-color;
  $sidebar-menu-nav-icon-dark-active-fill: $sidebar-menu-dark-active-color;

  .sidebar-menu-nav {
    .sidebar-menu-nav-link {
      color: $sidebar-menu-dark-color;
      fill: $sidebar-menu-nav-icon-dark-fill;

      &:hover,
      &:focus {
        color: $sidebar-menu-dark-hover-color;

        .sidebar-menu-nav-icon {
          fill: $sidebar-menu-nav-icon-dark-hover-fill;
        }
      }

      &.disabled {
        color: $sidebar-menu-dark-disabled-color;

        .sidebar-menu-nav-icon {
          fill: $sidebar-menu-nav-icon-dark-disabled-fill;
        }
      }
    }

    .show > .sidebar-menu-nav-link,
    .sidebar-menu-nav-link.active {
      color: $sidebar-menu-dark-active-color;

      .sidebar-menu-nav-icon {
        fill: $sidebar-menu-nav-icon-dark-active-fill;
      }
    }
  }

  .sidebar-menu-toggler {
    color: $sidebar-menu-dark-color;
    border-color: $sidebar-menu-dark-toggler-border-color;
  }

  .sidebar-menu-toggler-icon {
    background-image: escape-svg($sidebar-menu-dark-toggler-icon-bg);
  }

  .sidebar-menu-text {
    color: $sidebar-menu-dark-color;
    a,
    a:hover,
    a:focus {
      color: $sidebar-menu-dark-active-color;
    }
  }
}
